mixin jpeg(name, alt)
    img(src=require(`./img/${name}.jpeg`) alt=alt class="image")

mixin jpg(name, alt)
    img(src=require(`./img/${name}.jpg`) alt=alt class="image")

mixin png(name, alt)
    img(src=require(`./img/${name}.png`) alt=alt class="image")

mixin svg(name, alt)
    img(src=require(`./svg/${name}.svg`) alt=alt class="image")
